Screen {
  layout: grid;
  grid-size: 2;
  grid-gutter: 2;
}

Widgets {
}

Horizontal {
  border: wide #FFF; /* temp */
}

CrudButtons {
  border: wide #FFF;
  width: 100%;
  dock: left;
  margin: 3 0 0 3;
}

.crud_buttons {
  color: #1e1e2e;
}

WelcomeScreen {
  border: wide #FFF;
  width: 100%;
  dock: right;
  margin: 8 3 0 0;
}

.welcome_widgets {
  padding: 2;
  width: 100%;
  content-align: center middle;
}

Button {
  margin: 2;
  width: 100%;
  height: 8;
}
