Screen {
  layout: grid;
  grid-size: 2;
  grid-gutter: 2;
}

Widgets {
}

Horizontal {
  border: wide #FFF;
}

CrudButtons {
  border: wide #FFF;
  width: 100%;
  dock: left;
  margin: 3 0 0 3;
}

WelcomeScreen {
  border: wide #FFF;
  width: 100%;
  dock: right;
  margin: 3 3 0 0;
}

#version_static {
  padding: 2;
  width: 100%;
  content-align: center middle;
}

Button {
  margin: 2;
  width: 100%;
  height: 8;
}
